<h1>Facebook Stats</h1>
 <select class="chartType">
  <option value="1">Percent Internet Users</option>
  <option value="2">Percent of Int Users on Facebook</option>
</select>
<div class="internet-chart-container">
<div class="internet-chart">
</div>
</div>

<ul class="user-list">
  <% m.facebooks.forEach(function (facebook) { %>
    <li class="facebook">
      <a href="#facebook/<%- facebook.id %>">
        <%- facebook.age %>
        <%- facebook.sex %>
		    <%- facebook.education %>
      </a>
    </li>
  <% }) %>
</ul>
