<h1>Facebook Stats</h1>
<div class="internet-chart-container">
<div class="internet-chart">
</div>
 <select class="chartType">
  <option valut="0">-</option>
  <option value="1">Percent Internet Users</option>
  <option value="2">Percent of Int Users on Facebook</option>
  <option value="3">Facebook Users by Sex</option>
  <option value="4">Facebook Users by Income</option>
  <option value="5">Facebook Users by Education</option>
  <option value="8">Non-Facebook Users by Sex</option>
  <option value="6">Non-Facebook Users by Income</option>
  <option value="7">Non-Facebook Users by Education</option>
</select>
</div>

<ul class="user-list">
  <% m.facebooks.forEach(function (facebook) { %>
    <li class="facebook">
      <a href="#facebook/<%- facebook.id %>">
        <%- facebook.age %>
        <%- facebook.sex %>
		    <%- facebook.education %>
      </a>
    </li>
  <% }) %>
</ul>
