@import 'reset';
h1 {
	padding: 2em;
} 

ul {
	padding: 2em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

.internet-chart-container{
	float: right;
	width: 40%;
	padding-right: 2em;
	text-align: center;
}